<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atian.module.main">

    <application
        android:name="com.atian.module_base.debug.DebugApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:label="@string/main_name"
        android:theme="@style/AppTheme"
        tools:replace="label">
        <activity android:name="com.atian.module.main.ui.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.atian.module.main.ui.MainActivity"></activity>
    </application>
</manifest>